---
---

@import "{{ site.theme }}";

h3 {
  margin-top: 40px !important;
}

.markdown-body h1,
.markdown-body h2 {
  border-bottom: 0px;
}
a:link, a:visited, a:hover, a:active {
	text-decoration: none;
	font-weight:bold;
}
